@import "tailwindcss";

@theme {
  --font-sans:
    PerpetuaCustom, Perpetua, "Perpetua MT", serif, ui-serif, Georgia,
    "Times New Roman", Times;
}

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-black text-zinc-100 antialiased font-sans;
}
